# Create Dictionary

In [1]:
mydict = dict() # empty dictionary 
mydict

{}

In [2]:
mydict = {} # empty dictionary 
mydict

{}

In [3]:
mydict = {1:'one' , 2:'two' , 3:'three'} # dictionary with integer keys
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [4]:
mydict = dict({1:'one' , 2:'two' , 3:'three'}) # Create dictionary using dict() 
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [5]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'} # dictionary with character keys
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [6]:
mydict = {1:'one' , 'A':'two' , 3:'three'} # dictionary with mixed keys 
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [7]:
mydict.keys() # Return Dictionary Keys using keys() method

dict_keys([1, 'A', 3])

In [8]:
mydict.values() # Return Dictionary Values using values() method

dict_values(['one', 'two', 'three'])

In [9]:
mydict.items() # Access each key-value pair within a dictionary

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [10]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']} 
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [12]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'], 'B':('Bat' , 'cat', 'hat')}
mydict

{1: 'one',
 2: 'two',
 'A': ['asif', 'john', 'Maria'],
 'B': ('Bat', 'cat', 'hat')}

In [13]:
mydict = {1:'one' , 2:'two' , 'A':{'Name':'asif' , 'Age' :20}, 'B':('Bat' , 'cat', 'hat')}

In [14]:
mydict

{1: 'one',
 2: 'two',
 'A': {'Name': 'asif', 'Age': 20},
 'B': ('Bat', 'cat', 'hat')}

In [15]:
keys = {'a' , 'b' , 'c' , 'd'}
mydict3 = dict.fromkeys(keys) # Create a dictionary from a sequence of keys
mydict3

{'b': None, 'd': None, 'c': None, 'a': None}

In [16]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = 10 
mydict3 = dict.fromkeys(keys , value) 
mydict3

{'b': 10, 'd': 10, 'c': 10, 'a': 10}

In [17]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = [10,20,30]
mydict3 = dict.fromkeys(keys , value) 
mydict3

{'b': [10, 20, 30], 'd': [10, 20, 30], 'c': [10, 20, 30], 'a': [10, 20, 30]}

In [18]:
value.append(40) 
mydict3

{'b': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'a': [10, 20, 30, 40]}

# Accessing Items

In [19]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [20]:
mydict[1] # Access item using key

'one'

In [21]:
mydict.get(1) # Access item using get() method

'one'

In [23]:
mydict1 = {'Name':'Ronieta' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Data Scientist'}
mydict1

{'Name': 'Ronieta', 'ID': 74123, 'DOB': 1991, 'job': 'Data Scientist'}

In [24]:
mydict1['Name']

'Ronieta'

In [25]:
mydict1.get('job')

'Data Scientist'

# Add, Remove & Change Items

In [26]:
mydict1 = {'Name':'Ronieta' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Kolkata'}
mydict1

{'Name': 'Ronieta', 'ID': 12345, 'DOB': 1991, 'Address': 'Kolkata'}

In [27]:
mydict1['DOB'] = 1992 # Changing Dictionary Items 
mydict1['Address'] = 'Delhi' 
mydict1

{'Name': 'Ronieta', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [28]:
dict1 = {'DOB':1995} 
mydict1.update(dict1)
mydict1

{'Name': 'Ronieta', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [30]:
mydict1['Job'] = 'Prompt Engineer' # Adding items in the dictionary 
mydict1

{'Name': 'Ronieta',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Delhi',
 'Job': 'Prompt Engineer'}

In [31]:
mydict1.pop('Job') # Removing items in the dictionary using Pop method 
mydict1

{'Name': 'Ronieta', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [32]:
mydict1.popitem() # A random item is removed

('Address', 'Delhi')

In [33]:
mydict1

{'Name': 'Ronieta', 'ID': 12345, 'DOB': 1995}

In [34]:
del[mydict1['ID']] # Removing item using del method
mydict1

{'Name': 'Ronieta', 'DOB': 1995}

In [35]:
mydict1.clear() # Delete all items of the dictionary using clear method 
mydict1

{}

In [36]:
del mydict1 # Delete the dictionary object
mydict1

NameError: name 'mydict1' is not defined

# Copy Dictionary

In [38]:
mydict = {'Name':'Ronieta' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Kolkata'}
mydict

{'Name': 'Ronieta', 'ID': 12345, 'DOB': 1991, 'Address': 'Kolkata'}

In [39]:
mydict1 = mydict # Create a new reference "mydict1"

In [40]:
id(mydict) , id(mydict1) # The address of both mydict & mydict1 will be the same

(2220370137152, 2220370137152)

In [41]:
mydict2 = mydict.copy() # Create a copy of the dictionary

In [42]:
id(mydict2)

2220370164416

In [43]:
mydict['Address'] = 'Mumbai'

In [44]:
mydict

{'Name': 'Ronieta', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

# Loop through a Dictionary

In [48]:
mydict1 = {'Name':'Ronieta' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki', 'Job': 'Python Developer'}
mydict1

{'Name': 'Ronieta',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilsinki',
 'Job': 'Python Developer'}

In [49]:
for i in mydict1: 
    print(i , ':' , mydict1[i]) # Key & value pair

Name : Ronieta
ID : 12345
DOB : 1991
Address : Hilsinki
Job : Python Developer

In [50]:
for i in mydict1: 
    print(mydict1[i]) # Dictionary items

Ronieta
12345
1991
Hilsinki
Python Developer

# Dictionary Membership

In [51]:
mydict1 = {'Name':'Ronieta' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Data Scientist'}
mydict1

{'Name': 'Ronieta', 'ID': 12345, 'DOB': 1991, 'Job': 'Data Scientist'}

In [52]:
'Name' in mydict1 # Test if a key is in a dictionary or not.

True

In [53]:
'Asif' in mydict1 # Membership test can be only done for keys.

False

In [54]:
'ID' in mydict1

True

In [55]:
'Address' in mydict1

False

# All / Any

In [56]:
mydict1 = {'Name':'Ronieta' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Data Scientist'}

In [57]:
mydict1

{'Name': 'Ronieta', 'ID': 12345, 'DOB': 1991, 'Job': 'Data Scientist'}

In [58]:
all(mydict1) # Will Return false as one value is false (Value 0)

True