In [1]:
myset = {1,2,3,4,5} # Set of numbers 
myset

{1, 2, 3, 4, 5}

In [2]:
len(myset) #Length of the set

5

In [3]:
 
my_set = {1,1,2,2,3,4,5,5} # Duplicate elements are not allowed.
my_set

{1, 2, 3, 4, 5}

In [5]:
myset1 = {1.79,2.08,3.99,4.56,5.45} # Set of float numbers 
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [7]:
myset2 = {'Ronieta' , 'Prasanta' , 'Ahannya'} # Set of Strings
myset2

{'Ahannya', 'Prasanta', 'Ronieta'}

In [8]:
myset3 = {10,20, "Hola", (11, 22, 32)} # Mixed datatypes
myset3

{(11, 22, 32), 10, 20, 'Hola'}

In [9]:
myset3 = {10,20, "Hola", [11, 22, 32]} # set doesn't allow mutable items like list
myset3

TypeError: unhashable type: 'list'

In [10]:
myset4 = set() # Create an empty set 
print(type(myset4))

<class 'set'>

In [11]:
my_set1 = set(('one' , 'two' , 'three' , 'four')) 
my_set1

{'four', 'one', 'three', 'two'}

# Loop through a Set

In [13]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'} 

for i in myset: 
    print(i)

five
four
two
three
seven
eight
six
one

In [14]:
for i in enumerate(myset):
    print(i)

(0, 'five')
(1, 'four')
(2, 'two')
(3, 'three')
(4, 'seven')
(5, 'eight')
(6, 'six')
(7, 'one')

# Set Membership

In [15]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [16]:
'one' in myset # Check if 'one' exist in the set

True

In [17]:
'ten' in myset # Check if 'ten' exist in the set

False

In [18]:
if 'three' in myset: # Check if 'three' exist in the set 
    print('Three is present in the set') 
else: 
    print('Three is not present in the set')

Three is present in the set

In [19]:
if 'eleven' in myset: # Check if 'eleven' exist in the list 
    print('eleven is present in the set') 
else: 
    print('eleven is not present in the set')

eleven is not present in the set

# Add & Remove Items

In [20]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [21]:
myset.add('NINE') # Add item to a set using add() method 
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [22]:
myset.update(['TEN' , 'ELEVEN' , 'TWELVE']) # Add multiple item to a set using 
myset

{'ELEVEN',
 'NINE',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [23]:
myset.remove('NINE') # remove item in a set using remove() method 
myset

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [24]:
myset.discard('TEN') # remove item from a set using discard() method 
myset

{'ELEVEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [25]:
myset.clear() # Delete all items in a set 
myset

set()

In [26]:
del myset # Delete the set object
myset

NameError: name 'myset' is not defined

# Copy Set

In [27]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [28]:
myset1 = myset # Create a new reference "myset1"
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [29]:
id(myset) , id(myset1)

(1775573635584, 1775573635584)

In [36]:
my_set = myset.copy() # Create a copy of the list
my_set

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [37]:
id(my_set)

1775573636480

In [30]:
myset.add('nine')
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [31]:
myset1 # myset1 will be also impacted as it is pointing to the same Set

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [38]:
my_set

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

# Set Operation
# Union

In [39]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8} 
C = {8,9,10}

In [40]:
A | B # Union of A and B (All elements from both sets. NO DUPLICATES)

{1, 2, 3, 4, 5, 6, 7, 8}

In [41]:
A.union(B) # Union of A and B

{1, 2, 3, 4, 5, 6, 7, 8}

In [42]:
A.union(B, C) # Union of A, B and C.

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Intersection

In [43]:
 A = {1,2,3,4,5} 
B = {4,5,6,7,8}

In [44]:
A & B # Intersection of A and B (Common items in both sets)

{4, 5}

In [46]:
A.intersection(B)

{4, 5}

In [47]:
A.intersection_update(B)
A

{4, 5}

# Difference

In [48]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8}

In [49]:
A - B

{1, 2, 3}

In [50]:
A.difference(B)

{1, 2, 3}

In [51]:
B- A # set of elements that are only in B but not in A

{6, 7, 8}

In [52]:
B.difference_update(A) 
B

{6, 7, 8}

# Symmetric Difference

In [53]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8}

In [54]:
A ^ B

{1, 2, 3, 6, 7, 8}

In [55]:
A.symmetric_difference(B) # Symmetric difference of sets

{1, 2, 3, 6, 7, 8}

In [56]:
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

# Subset , Superset & Disjoint

In [57]:
A = {1,2,3,4,5,6,7,8,9} 
B = {3,4,5,6,7,8} 
C = {10,20,30,40}

In [58]:
B.issubset(A)

True

In [59]:
A.issuperset(B)

True

In [60]:
C.isdisjoint(A)

True

In [61]:
B.isdisjoint(A)

False

# Other Builtin functions

In [62]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [63]:
sum(A)

45

In [64]:
max(A)

9

In [65]:
min(A)

1

In [66]:
len(A)

9

In [67]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [71]:
D= sorted(A,reverse=True) 
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [70]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]