In [1]:
txt=("name, age, gender")
txt.lstrip()

'name, age, gender'

In [2]:
txt=("name, age, gender")
txt.strip()

'name, age, gender'

Using Escape Character

In [3]:
# using double quotes in the string is not allowed
job= "I got selected for the post of "Data Scientiest""

SyntaxError: invalid syntax (3324257476.py, line 2)

In [4]:
#Using escape character to allow illegal characters
job="I got selected for the post of \"Data scientiest\""
print(job)

I got selected for the post of "Data scientiest"

# List Creation

In [5]:
z1=[] # Empty List
print(type(z1))

<class 'list'>

In [6]:
z2=[10,20,30] #list of integer numbers

In [7]:
z3=[10.1, 20.2, 30.3] #list of float numbers

In [8]:
z4=['five','six','seven'] #list of strings

In [9]:
z5=['Ronita', 34, [50,100], [150,90]] #nested lists

In [10]:
z6=['Ronita', 34, 100, 10.10] #list of mixed datatypes

In [11]:
z7=['Ronita', 34, [50,100], [150,90], {'Riya', 'Misti'}]

In [12]:
len(z6)

4

# List indexing

In [13]:
z2[0] # Retreive first element of the list

10

In [14]:
z4[0] # Retreive first element of the list

'five'

In [15]:
z4[0][0] # Nested indexing - Access the first character of the first list element

'f'

In [16]:
z4[-1] # Last item of the list

'seven'

In [17]:
z5[-1] # Last item of the list

[150, 90]

# List slicing

In [19]:
divine = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

In [20]:
divine[0:5]  # Return all items from 0th to 3rd index location excluding the item

['one', 'two', 'three', 'four', 'five']

In [21]:
divine[2:5]  # List all items from 2nd to 5th index location

['three', 'four', 'five']

In [22]:
divine[:3]  # Return first three items

['one', 'two', 'three']

In [23]:
divine[:2] # Return first two items

['one', 'two']

In [24]:
divine[-3:] # Return last three items

['six', 'seven', 'eight']

In [25]:
divine[-2:] # Return last two items

['seven', 'eight']

In [27]:
divine[-1:] # Return last one items

['eight']

In [28]:
divine[:] # Return whole list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

# Add , Remove & Change Items

In [29]:
divine

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [30]:
divine.append('nine') # Add an item to the end of the list
divine

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [31]:
divine.insert(9,'ten') # Add item at index location 9 
divine

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [32]:
divine.insert(1,'ONE') # Add item at index location 1 
divine

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [37]:
divine

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [38]:
divine.insert(1, 'ONE')
divine

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [39]:
divine

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [41]:
divine.remove('ONE')
divine

ValueError: list.remove(x): x not in list

In [42]:
divine

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [43]:
divine.insert(1, 'ONE')
divine

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [44]:
divine

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [45]:
divine.remove('ONE')
divine

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [46]:
divine.pop() # Remove last item of the list

'ten'

In [47]:
divine.pop(8) # Remove item at index location 8

'nine'

In [48]:
del divine[7] # Remove item at index location 7

In [49]:
divine

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [50]:
# change value of the string
divine[0] = 1 
divine[1] = 2 
divine[2] = 3 
divine

[1, 2, 3, 'four', 'five', 'six', 'seven']

In [51]:
divine.clear() # Empty List / Delete all items in the divine
divine

[]

In [52]:
del divine # Delete the whole list 
divine

NameError: name 'divine' is not defined

# Copy List

In [53]:
divine = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [54]:
divine1 = divine # Create a new reference "divine1"

In [55]:
id(divine) , id(divine1) # The address of both divine & divine1 will be the same

(3084723984320, 3084723984320)

In [56]:
divine2 = divine.copy() # Create a copy of the list

In [57]:
id(divine2) # The address of divine2 will be different from divine because mylis

3084724116096

In [58]:
divine[0] = 1 
divine

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [59]:
divine1 # divine1 will be also impacted as it is pointing to the same list

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [60]:
divine2 # Copy of list won't be impacted due to changes made on the original list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

# Join Lists

In [61]:
d1 = ['one', 'two', 'three', 'four'] 
d2 = ['five', 'six', 'seven', 'eight']

In [62]:
d3=d1+d2 # Join two lists by '+' operator
d3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [63]:
d1.extend(d2) #Append d2 with d1 
d1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

# List Membership

In [64]:
d1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [65]:
'one' in d1 # Check if 'one' exist in the list

True

In [66]:
'ten' in d1 # Check if 'ten' exist in the list

False

In [68]:
if 'three' in d1: # Check if 'three' exist in the list
    print('Three is present in the list')
else:
    print('Three is not present in the list')

Three is present in the list

In [69]:
if 'eleven' in d1: # Check if 'eleven' exist in the list
    print('eleven is present in the list')
else:
    print('eleven is not present in the list')

eleven is not present in the list

# Reverse and sort list

In [71]:
d1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [72]:
d1.reverse() # Reverse the list
d1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [73]:
d1 = d1[::-1] # Reverse the list
d1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [74]:
d3 = [9,5,2,99,12,88,34] 
d3.sort() # Sort list in ascending order 
d3

[2, 5, 9, 12, 34, 88, 99]

In [75]:
d3 = [9,5,2,99,12,88,34] 
d3.sort(reverse=True) # Sort list in descending order 
d3

[99, 88, 34, 12, 9, 5, 2]

In [76]:
d4 = [88,65,33,21,11,98] 
sorted(d4) # Returns a new sorted list and doesn't change original list

[11, 21, 33, 65, 88, 98]

In [77]:
d4

[88, 65, 33, 21, 11, 98]

# Loop through a list

In [78]:
d1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [80]:
for i in d1: 
    print(i)

one
two
three
four
five
six
seven
eight

In [81]:
for i in enumerate(d1): 
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

# Count

In [82]:
d10=['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']

In [83]:
d10.count('one') # Number of times item "one" occurred in the list.

3

In [84]:
d10.count('two') # Number of times item "two" occurred in the list.

2

In [85]:
d10.count('four') # Number of times item "four" occurred in the list.

1

All / Any 
 
The all() method returns: 
 
True - If all elements in a list are true 
False - If any element in a list is false 
 
The any() function returns True if any element in the list is True. If not, any() returns False.

In [86]:
p1 = [1,2,3,4,0]

In [88]:
all(p1) # Will Return false as one value is false (Value 0)

False

In [89]:
any(p1) # Will Return True as we have items in the list with True value

True

In [92]:
p2=[0,0,0]

In [93]:
all(p2)

False

In [94]:
any(p2)

False

In [95]:
p3= [1,2,3,4,True,False]

In [96]:
all(p3) # Returns false as one value is false

False

In [97]:
any(p3) # Will Return True as we have items in the list with True value

True

In [98]:
p4 = [1,2,3,True]

In [99]:
all(p4) # Will return True as all items in the list are True

True